.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.Prices {
  position: absolute;
  top: 10px;
  right: 10px;
}

.Prices > .Price ~ .Price {
  margin-top: 4px;
}
